/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
_ide_helper.php
public/frontend/css/
public/frontend/js/
public/backend/css/
public/backend/js/
public/mix-manifest.json
public/upload
public/build
storage/